@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  @apply text-4xl font-bold;
}

.desc {
  @apply text-gray-600 text-sm;
}

.gradient_text_1 {
  background: rgb(235, 225, 24);
  background: linear-gradient(
    90deg,
    rgba(235, 225, 24, 1) 0%,
    rgba(233, 94, 25, 1) 35%,
    rgba(245, 246, 11, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_text_2 {
  background: rgb(70, 94, 180);
  background: linear-gradient(
    90deg,
    rgba(70, 94, 180, 1) 0%,
    rgba(70, 59, 177, 1) 34%,
    rgba(38, 218, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown {
  @apply absolute right-5 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[170px] flex flex-col gap-2 justify-center border border-blue-400;
}

.dropdown_link {
  @apply text-sm hover:text-gray-700 font-medium;
}

.btn_mobile {
  @apply bg-black text-sm rounded-full py-3 px-4 text-white hover:bg-gray-900;
}

.error {
  @apply text-red-600 text-sm;
}

.custom_border{
  @apply focus:outline-none border border-solid border-gray-600
}